.AcordionContainer {
  width: 100%;
  padding: 1rem;
}

.Acordion {
  width: 100%;
  border-radius: 0.25rem;

  margin-bottom: 4.25rem;

  background-color: var(--color-dark);
}

.AcordionTitle {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;
  border-radius: 0.25rem;

  background-color: var(--color-gray-dark);
  color: var(--color-white);
}

.AcordionTitle p {
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
}
