.AcordionContainer {
  width: 100%;
  padding: 1rem;
}

.Acordion {
  width: 100%;
  border-radius: 0.25rem;

  margin-bottom: 4.25rem;

  background-color: var(--color-dark);
}

.AcordionTitle {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;
  border-radius: 0.25rem;

  background-color: var(--color-gray-dark);
  color: var(--color-white);
}

.AcordionTitleIcon {
  max-width: 24px;
  transition: 1s all;
}

.AcordionTitle p {
  max-width: 64%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.AcordionTitle.Dark {
  background-color: var(--color-dark);
}

.AcordionBodyDark {
  background-color: var(--color-gray);
  color: var(--color-gray-dark);
}

.AcordionTitle__Svg {
  display: flex;
  align-items: center;

  max-width: 116px;
  width: 100%;
}

.AcordionTitle__Text {
  margin-left: 0.5rem;
  font-size: 1rem;
}

.AcordionTitleIcon, .AcordionTitle__Text {
  opacity: 0.8;
}
