input.Input {
  outline: none;
  border: none;
  padding: 1rem;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  background-color: var(--color-dark);
  color: var(--color-text);
  border-radius: 5px;
}

input.Input::placeholder {
  color: var(--color-text);
}

input.Input:-internal-autofill-selected {
  font-family: var(--font-1);
  background-color: var(--color-dark) !important;
  color: var(--color-text);
}
