
input.Input, textarea.Input {
  outline: none;
  border: none;
  padding: 1rem;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  background-color: var(--color-dark);
  color: var(--color-white);
  border-radius: 5px;
}

input.Input::placeholder, textarea.Input::placeholder {
  color: var(--color-text);
}

input.Input:-internal-autofill-selected, textarea.Input:-internal-autofill-selected {
  font-family: var(--font-1);
  background-color: var(--color-dark) !important;
  color: var(--color-text);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

textarea.Input {
  max-width: 100%;
  max-height: 6rem;
  min-width: 100%;
  min-height: 5rem;
}
