.buttonsModalSecodaries {
  padding: 0 1rem;
  padding-bottom: 1rem;
}

.ProductItemSaveModal {
  list-style: none;
  padding: 1rem;
}

.ProductItemSaveModal--image {
  max-width: 100%;
  border-radius: 0.25rem;
}

img.SelectedButton {
  border-radius: 5px;
  border: 5px solid var(--color-radiant);
}

