.ContainerProducts {
  padding-bottom: 5rem;
}

.ContainerButtonProducts {
  display: flex;
}

.ContainerButtonProducts button.ButtonToggleSize-danger {
  border-radius: 0.25rem 0 0 0.25rem;
}

.ContainerButtonProducts button.ButtonToggleSize {
  border-radius: 0 0.25rem 0.25rem 0;
}
