.ContainerMenu {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
  height: fit-content;
  z-index: 100;
}

.Menu {
  width: 100%;
  max-width: 235px;
  background-color: var(--color-dark);
  height: 100vh;
  transform: scaleX(0);
  transform-origin: right;
  animation: scaleMenu 0.5s ease-in forwards alternate;
  overflow-y: auto;
}

.Menu-link, .Menu-link-empty {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-radiant);
  margin-bottom: 0;
  margin-bottom: 0.7rem;
  transition: 1s all;
}

.Menu-link {
  max-width: fit-content;
  border-bottom: 0.2rem solid currentColor;
  color: var(--color-white);
}

.IconMenuLink svg {
  max-width: 1.3rem;
  width: 100%;
  margin-right: 0.5rem;
}

.IconMenuLink-Active {
  color: var(--color-white);
}

.imgInformative {
  opacity: 0;
  transition: 1s all;
  animation: showable 1s alternate forwards ease-in;
}

.LogoTipoSm {
  padding: 0 1rem;
  max-width: 250px;
  margin: auto;
  display: block;
  width: 100%;
}

.ContainerDesc {
  background-color: var(--color-gray);
  padding: 1rem;
  color: var(--color-text);
}

.ContainerDesc img {
  margin: 1rem auto;
  width: 100%;
  display: block;
  text-align: center;
  max-width: 250px;
}

.ContainerGeneralLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ContainerLinks, .ContainerActions {
  padding: 1.2rem;
}

.ContainerActions {
  margin-top: 0.8rem;
}

.srcLoginInfo {
  padding-bottom: 0.5rem;
}

.srcSearch {
  padding-left: 1rem;
}

.srcMyShoppingInfo {
  padding-right: 1rem;
}

.IconMenuLink svg path {
  stroke-dasharray: 5px;
  transition: 3.5s all;
  animation: changeStroke 3.5s ease-in forwards alternate;
}

.ContainerHidden {
  margin: 1rem auto;
  display: block;
  text-align: center;
  width: 235px;
}

@keyframes scaleMenu {
  0% {
    transform: scaleX(0);
  }
  20% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(0);
  }
  90% {
    transform: scaleX(0.9);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes changeStrokeBigger {
  0% {
    stroke-dasharray: 5px;
  }
  100% {
    stroke-dasharray: 200px;
  }
}
