@media screen and (min-width: 860px) {
  .Resume .ZoneOfButton, p.MobilePrice, .Resume .WaveFlowHeader {
    display: none;
  }

  .Resume .ContainerList {
    padding: 0 1rem;
    width: 100%;
    max-width: 546px;
    margin: 0 auto;
  }

  .Resume .ItemList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .TotalPriceContainerPC {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 546px;
    z-index: 10;
    margin: 0 auto;
    padding-bottom: 2rem;
  }

  .TotalPriceContainerPC p.TotalPrice {
    margin-left: 1rem;
  }

  .TotalPriceContainerPC button.PrimaryWave {
    margin-right: 1rem;
  }
}
