@media screen and (min-width: 860px) {
  .CategoriesArrayContainer {
    /* gap: 200px 126px;
    display: grid;
    grid-template-columns: minmax(300px, 450px) minmax(300px, 450px);
    grid-template-rows: repeat(auto-fill, 12.5rem); */
    max-width: 1300px;
    margin: 0 auto;
    padding: 3.6875rem 1rem;
    text-align: center;
  }

  a.ProductItem,
  a.ProductItem li {
    height: 100%;
  }

  a.ProductItem img {
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    background-color: var(--color-dark);
  }
  
  a.ProductItem img.ImageOffer {
    height: calc(100% - 27px);
  }

  button.SeeMoreMobile {
    display: none;
  }
  
  .Categories .CategoriesArray {
    padding: 0;
    width: fit-content;
    height: fit-content;
    display: inline-block;
    padding: 4rem 30px;
    padding-top: 0;
    /* flex: 1 auto 300px; */
  }
  
  .ButtonPcContainer a {
    width: fit-content;
    display: block;
  }
  
  .TitleEachCategory {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
  }
  
  .Categories div.CategoriesGrid {
    padding-top: 0;
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-rows: 16.25rem 11.6875rem; */
    padding-right: 0;
    padding-left: 0;
    grid-template-rows: repeat(auto-fill, 12.5rem);
    max-width: 350px;
    width: 100%;
  }

  .ProductItem:nth-child(2) {
    grid-row: 1 / 3;
    grid-column: 2;
  }
}