.ContainerImage {
  position: relative;

  height: 12rem;

  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.PhotographIcon {
  max-width: 5rem;
  padding-bottom: 2rem;
  margin: auto;

  color: var(--color-primary);
}

.buttonActionsPicture {
  position: absolute;
  bottom: 0;

  display: flex;
  overflow-x: auto;

  width: 100%;
  padding: 1rem;
}

.ContainerInputs {
  padding: 1.5rem;
  padding-bottom: 2rem;
}

.ContainerInputs input, .ContainerInputs textarea {
  width: 100%;
  margin-bottom: 1rem;
}

.LinksContainer {
  display: flex;
  overflow-x: auto;

  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}

.Banner input {
  background: none;
  border: none;
  outline: none;

  margin-bottom: 0;

  font-size: 1rem;
  width: fit-content;
  color: var(--color-white);
}

.TitleContainer {
  color: var(--color-white);
}

button.ChangeMode {
  position: absolute;
  right: 0;
  top: 0;

  width: 3rem;
  height: 3rem;
  padding: 0.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-dark);
}

#videoModel, #imageModel {
  display: none;
}
