.ZoneButtons {
  height: 2rem;
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  border-radius: 0.25rem;
  overflow: hidden;
  margin-top: -0.25rem;
}

.ZoneButtons svg {
  max-width: 1.5rem;
  width: 100%;
  color: var(--color-white);
}

.Count {
  max-width: 4rem;
  width: 100%;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark);
  color: var(--color-white);
}

.EmptyTitle {
  margin-top: 2rem;
  padding: 0 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;

  color: var(--color-white);
}

.svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}

.LogoToAnimateEmpty {
  position: relative;
  left: calc(50% - 50%);
  transition: 2s all;
  transform: translateX(60vw);
  animation: iterButterFly 3.5s infinite ease-in-out alternate;
}

.svg path {
  stroke-dasharray: 5px;
  transition: 3.5s all;
  animation: changeStroke 3.5s ease-in infinite alternate-reverse;
}

.textEmpty {
  margin-top: 2rem;
  padding: 4rem;
  padding-bottom: 0;
  text-align: center;
  color: var(--color-text);
}

a.align-center {
  margin-top: 1rem;
  text-align: center;
  justify-content: center;
}

.relative {
  position: relative;
  max-width: 222px;
  margin: auto;
}

@keyframes iterButterFly {
  0% {
    transform: translateX(120px) translateY(0px) rotate(0deg) scale(0.5);
  }
  40% {
    transform: translateX(80px) translateY(60px) rotate(-360deg);
  }
  80% {
    transform: translateX(40px) translateY(0px) rotate(-732deg) scale(0.5);
  }
  100% {
    transform: translateX(0px) translateY(0px) rotate(-700deg);
  }
}
