@media screen and (min-width: 860px) {
  .Modal {
    justify-content: center;
    height: calc(100% - 83.7px);
  }
  
  .CategorySaveModal {
    max-width: 30rem;
  }

  div.SaveExistentProduct {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 0;
  }

  .Modal footer.FooterModal {
    position: static;
    transform: none;
  }

  div.ProductUpgradePC {
    max-width: 50rem;
  }

  .ProductUpgradePC .ContainerInputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 15px 1fr 1fr;
    gap: 15px;
  }

  .ProductUpgradePC .TitleContainer.isPCContainer {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
  }

  .ProductUpgradePC .LinksContainer.isPCContainer {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    padding-bottom: 1rem;
    margin: 0;
  }

  .ProductUpgradePC footer.FooterModal {
    padding: 0;
    justify-content: flex-start;
  }

  .ProductUpgradePC figure.ContainerImage {
    max-width: 100%;
    min-height: 200px;
    background-color: black;
  }

  .ProductUpgradePC video, .ProductUpgradePC img {
    max-height: 400px;
  }

  .ProductUpgradePC button {
    margin: 0;
  }
}
