@media screen and (min-width: 860px) {
  .page {
    padding-top: 83.71px;
  }

  .ContainerMenu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    align-items: center;
  }

  .ContainerGeneralLinks {
    flex: 1;
  }

  .ContainerDesc, .ContainerActions {
    display: none;
  }

  .PCActions {
    display: block;
  }

  .ContainerLinks {
    display: flex;
    justify-content: center;
  }

  .ContainerLinks a {
    margin: 0 1rem;
  }

  .Menu {
    max-width: 100%;
    height: 83.71px;
    display: flex;
    align-items: center;
    padding-top: 0;
  }

  .Menu-hide {
    opacity: 1;
  }

  button.ButtonMenu {
    display: none;
  }

  .blur {
    filter: blur(0);
  }

  .PCActions {
    margin: 0;
  }
}