@media screen and (min-width: 860px) {
  .triangle-pc {
    width: 0;
    height: 0;
    border-bottom: calc(100vh - 83.7px) solid var(--color-gray);
    border-left: 100vw solid transparent;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -2;
    opacity: 0.4;
  }

  .TitleEachCategory button {
    display: flex;
  }

  #root {
    padding-top: 83.71px;
  }

  .ContainerMenu .LogoTipoSm {
    max-width: 200px;
  }

  .ContainerMenu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    align-items: center;
  }

  .ContainerGeneralLinks {
    flex: 1;
  }

  .ContainerDesc, .ContainerActions {
    display: none;
  }

  .ContainerLinks {
    display: flex;
    justify-content: center;
  }

  .ContainerLinks a {
    margin: 0 4%;
  }

  .Menu {
    max-width: 100%;
    height: 83.71px;
    display: flex;
    align-items: center;
    padding-top: 0;
    animation: none;
    transform: none;
  }

  .Menu-link, .Menu-link-empty {
    border: none;
    position: relative;
  }

  .Menu-hide {
    opacity: 1;
  }

  .pc-Underline {
    display: block;
  }

  .Button-link-Menu {
    position: relative;
  }

  .Button-link-Menu .pc-Underline {
    bottom: -22px;
  }

  button.ButtonMenu {
    display: none;
  }

  .blur {
    filter: blur(0);
  }

  .PCActions {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .Dots {
    position: relative;
    width: 28pt;
    height: 28pt;
    border-radius: 50%;
    margin-left: 18pt;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-gray);
    color: var(--color-white);
    z-index: 5;
  }

  .DotsContainer {
    position: absolute;
    z-index: 5;
    bottom: -74px;
    height: 90px;
    overflow-y: auto;
    overflow-x: hidden;
    right: 30px;
    padding: 14pt;
    padding-bottom: 0;
    border-radius: 5px 0px 5px 5px;
    box-shadow: 0px 0px 5px #000000;
    background-color: var(--color-gray);
  }

  .DotsContainer .Menu-link {
    min-width: 251px;
  }

  .Dots svg {
    width: 25px;
  }

  .Pig {
    max-width: 435.71px;
    margin: 0;
  }

  .Logo {
    display: none;
  }

  .PC__ContainerHero {
    display: block;
    margin-right: 108px;
  }

  .PC__ContainerHero p {
    font-size: 20px;
    color: var(--color-text);
  }

  .PC__ContainerHero h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;

    color: var(--color-white);
  }

  .PC__ContainerHero h3 strong {
    font-weight: 900;
    color: var(--color-radiant);
  }

  .HomeImages {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    padding: 2rem 3rem;
  }

  .BackgroundWave {
    min-height: 350px;
    background: url(../assets/images/pc/Wave.svg);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 1rem;
    margin-top: -100px;
  }

  .bgWave {
    display: none;
    border-radius: 50% 50% 0 0;
    min-height: 200px;
  }

  .BackgroundWave-ButtonContainer {
    padding-top: 7rem;
  }

  .BackgroundWave-Container_text {
    padding-top: 5rem;
    max-width: 1046px;
    margin: auto;
    display: flex;
  }

  .AboutUs {
    padding-right: 192px;
    padding-left: 3rem;
  }

  .BackgroundWave-Container_text p {
    max-width: 727px;
    margin: 0;
  }

  .BackgroundWave-Video {
    margin: 0;
    max-width: 100%;
  }

  .SubTitle {
    padding-top: 0;
  }

  .ContactIcons {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3rem;
  }

  .IconsContainer {
    margin-bottom: 60px;
  }

  p.SubTitleSecondaryContainer {
    padding-bottom: 1.5rem;
  }

  p.SubTitleThered {
    margin-bottom: 1rem;
  }

  .Home { 
    height: calc(100vh - 83.7px);
  }

  .TitleButterFly {
    padding-top: 1rem;
    font-weight: bolder;
  }
}