@media screen and (min-width: 860px) {
  #root {
    padding-top: 83.71px;
  }

  .ContainerMenu .LogoTipoSm {
    max-width: 200px;
  }

  .ContainerMenu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    align-items: center;
  }

  .ContainerGeneralLinks {
    flex: 1;
  }

  .ContainerDesc, .ContainerActions {
    display: none;
  }

  .ContainerLinks {
    display: flex;
    justify-content: center;
  }

  .ContainerLinks a {
    margin: 0 4%;
  }

  .Menu {
    max-width: 100%;
    height: 83.71px;
    display: flex;
    align-items: center;
    padding-top: 0;
    animation: none;
    transform: none;
  }

  .Menu-link, .Menu-link-empty {
    border: none;
    position: relative;
  }

  .Menu-hide {
    opacity: 1;
  }

  .pc-Underline {
    display: block;
  }

  .Button-link-Menu {
    position: relative;
  }

  .Button-link-Menu .pc-Underline {
    bottom: -22px;
  }

  button.ButtonMenu {
    display: none;
  }

  .blur {
    filter: blur(0);
  }

  .PCActions {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .Dots {
    width: 28pt;
    height: 28pt;
    border-radius: 50%;
    margin-left: 18pt;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-gray);
    color: var(--color-white);
  }

  .DotsContainer {
    position: absolute;
    z-index: 5;
    bottom: -74px;
    height: 90px;
    overflow-y: auto;
    overflow-x: hidden;
    right: 30px;
    padding: 14pt;
    padding-bottom: 0;
    border-radius: 5px 0px 5px 5px;
    box-shadow: 0px 0px 5px #000000;
    background-color: var(--color-gray);
  }

  .DotsContainer .Menu-link {
    min-width: 251px;
  }

  .Dots svg {
    width: 25px;
  }
}