:root {
  --font-1: "Montserrat";

  /* COLORS */
  --color-primary: #363E43;
  --color-secondary: #83DDA9;
  --color-dark: #1A1F26;
  --color-white: #FFFFFF;
  --color-text: #CBCBCB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-1), sans-serif;
}

html {
  font-size: 16px;
}

html, body, #root, .App {
  height: 100%;
  width: 100%;
}

body {
  box-shadow: inset 0px 86px 69px var(--color-dark);
  background-color: var(--color-primary);
}

.d-flex {
  display: flex;
}

.centered {
  text-align: center;
}

.button-without-styles {
  background: none;
  height: fit-content;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer;
}
