:root {
  --font-1: "Montserrat";

  /* COLORS */
  --color-primary: #363E43;
  --color-secondary: #83DDA9;
  --color-dark: #1A1F26;
  --color-white: #FFFFFF;
  --color-text: #CBCBCB;
  --color-gray: #3E4A54;
  --color-gray-dark: #6B6A6E;
  --color-radiant: #7FDEE4;
  --color-danger: #E34D43;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-1), sans-serif;
}

html {
  font-size: 16px;
}

html, body, #root, .App {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--color-primary);
}

#root {
  box-shadow: inset 0px 86px 69px var(--color-dark);
  overflow: auto;
  scroll-behavior: smooth;
  /* background-size: cover !important; */
  /* background-repeat: no-repeat; */
  /* background: url(../assets/images/mobile/Shadow.svg); */
}

.d-flex {
  display: flex;
}

.centered {
  text-align: center;
}

.button-without-styles {
  background: none;
  height: fit-content;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.link-without-styles {
  text-decoration: none;
}

.rotate360 {
  transform: rotate(-180deg);
}

.blur {
  filter: blur(15px);
}

.Router {
  transition: 0.5s filter ease-in;
}

.Router div:first-child {
  transition: 0.25s all;
  animation: showable 0.25s ease-in forwards alternate;
}

.whitep {
  color: var(--color-white);
}

.width-auto {
  width: fit-content;
}

@keyframes showable {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
