.ZoneButtons {
  height: 2rem;
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  border-radius: 0.25rem;
  overflow: hidden;
  margin-top: -0.25rem;
}

.TitleButterFlyPC {
  display: none;
}

.ZoneButtons svg {
  max-width: 1.5rem;
  width: 100%;
  color: var(--color-white);
}

.Count {
  max-width: 4rem;
  width: 100%;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark);
  color: var(--color-white);
}

.textEmpty {
  margin-top: 2rem;
  padding: 4rem;
  padding-bottom: 0;
  text-align: center;
  color: var(--color-text);
}

a.align-center {
  margin-top: 1rem;
  text-align: center;
  justify-content: center;
}
