li.ProductItem {
  list-style: none;
  position: relative;
  height: fit-content;
}

li.ProductItem img {
  max-width: 100%;
  min-height: 5rem;
  border-radius: 5px;
  box-shadow: inset 0px -35px 24px rgba(0, 0, 0, 0.61);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

li.ProductItem h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: var(--color-white);
}
