
section {
  display: inline;
}

a.ProductItem {
  /* max-width: 7rem;
  width: 100%;
  margin: 0.8rem;
  margin-left: 0; */
  min-width: 6.5rem;
  list-style: none;
  position: relative;
  height: fit-content;
  width: 100%;
  display: block;
}

a.ProductItem .tap {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  box-shadow: inset 0px -35px 24px rgba(0, 0, 0, 0.61);
}

a.ProductItem img {
  max-width: 100%;
  min-height: 4rem;
  border-radius: 5px;
}

a.ProductItem h3 {
  max-width: 96%;
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: var(--color-white);
}

.OfferBox {
  position: relative;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  padding: 0.25rem 0.5rem;
  background-color: var(--color-warning);
  color: var(--color-dark);
  margin-bottom: -0.25rem;
}

.ProductItem {
  text-decoration: none;
}

.SizeProduct {
  max-width: 90%;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.8rem;
}

.ZoneButtons {
  display: block;
  width: 100%;
}
