.UpdateArt {
  background-color: var(--color-primary);
  height: 100%;
}

.UpdateArt button.ButtonToggleSize-danger svg {
  max-width: 1.5rem;
  margin-right: 0.5rem;
}

.UpdateArt button.ButtonToggleSize-danger {
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
}

.buttonsActions {
  position: absolute;
  right: 0.8rem;
  top: 50%;
  transform: translateY(-50%);

  background-color: var(--color-gray-dark);
}

.buttonsActions svg {
  color: var(--color-radiant);
}

.buttonsActions button {
  width: 1.5rem;
}

.CategoriesGrid {
  padding: 1rem;
}

button.buttonAction {
  margin: 0 0.25rem;
}

.ContainerCategoriesSticky {
  will-change: transform;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 5;
}
